*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


main{
    height: 100%;
    width: 56vh;
    /* overflow: hidden; */
    margin: auto;
    background-image: url('./images/back.jpg');
    background-position: center bottom;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
}
canvas{
    border: black solid 40px;
    width: 100%;
}
#end>img{
    display: none;
}

#start>img{
  
    position: absolute;
    width: 90%;
    top: 10vh;
    left: 5%;
}

#ship>img{
    width: 25%;
    position: absolute;
    top: 40vh;
    left: 9%;
}

#top{
    width: 30%;
    position: absolute;
    top: -20vh;
    left: 45%;
}

/* #bottom{
    width: 100vw
    position: absolute;
    top: 70vh;
    left: 20vh;
} */

#ring>img{
    position: absolute;
    width: 10%;
}

